<a href="https://colab.research.google.com/github/Joshan2005/Petroleum-Data-Analytics/blob/main/Lecture4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is the first program
print('hello world')

hello world

In [ ]:
a="hello world"
print(a)

hello world

In [ ]:
# take input from the user
name = input("Enter your name")
print("Hello",name,"! Welcome")

Enter your nameJoshan
Hello Joshan ! Welcome

In [ ]:
# print single variable
a="petroleum"
print(a)

petroleum

In [ ]:
# print multiple variable
b="testing"
c="logging"
print(a,b,c)

petroleum testing logging

In [ ]:
color = input("What color is rose?: ")
print(color)

What color is rose?: Pink
Pink

In [ ]:
# Taking input as int
# Typecasting to int
n = input("How many roses?: ")
print(n)

How many roses?: 1
1

In [ ]:
# finding a datatype of input in python
a = "Hello world"
b = 10
c = 11.12
d = ("Petroleum","Data","AI/ML")
e = ["Petroleum","Data","AI/ML"]
f = {"Porosity": 30, "Permeability": 200, "Water_Saturation": 3}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [ ]:
# Output Formatting
amount = 150.75133234
print("Amount: ${:.1f}".format(amount))

Amount: $150.8

In [ ]:
# end parameter with @
print("python", end='@')
print("Engineering")

python@Engineering

In [ ]:
# aeparating with comma
print('G','F','G',sep=',')

G,F,G

In [ ]:
# my own code
Name = input("Name: ")
Department = input("Department: ")
print(f"Hello, my name is {Name} and I am a student of {Department}")

Name: Joshan
Department: Chemical Engineering
Hello, my name is Joshan and I am a student of Chemical Engineering