<a href="https://colab.research.google.com/github/Joshan2005/Petroleum-Data-Analytics/blob/main/Lecture5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# arithmetic operators
x = 15
y = 6
print ('Addition:',x+y)
print ( "Subtraction:",x-y)
print ('Multiply:',x*y)
print ('Divide:',x/y)
print ("Floor Division:",x//y)
print ('Modulus:',x%y)
print ('Exponentiation:',x**y)
print(x>y)
print(x<y)
print(x==y)
print(x>=y)
print(x<=y)
print(x!=y)

Addition: 21
Subtraction: 9
Multiply: 90
Divide: 2.5
Floor Division: 2
Modulus: 3
Exponentiation: 11390625
True
False
False
True
False
True

In [10]:
a,b,c=1,2,1
if a and c:
  print ('a and c equals to 1')
if not b:
  print ('test')

a and c equals to 1