In [29]:
# checking python version
import pandas as pd
print(pd.__version__)

2.2.2

In [30]:
# creating pandas series
import pandas as pd
list1=[1,2,3,4,5]
ser1=pd.Series(list1)
print(ser1)
print(type(ser1))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [31]:
# position based indexing
print(ser1[0:3])

0    1
1    2
2    3
dtype: int64

In [32]:
# label based indexing
ser2=pd.Series([1,2,3,4,5],index=['One','Two','Three','Four','Five'])
print(ser2)

One      1
Two      2
Three    3
Four     4
Five     5
dtype: int64

In [33]:
# extract values and index using corresponding attributes
list2=list(ser2.index)
print(list2)
list3=list(ser2.array)
print(list3)

['One', 'Two', 'Three', 'Four', 'Five']
[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5)]

In [34]:
# ordinary mathematics
ser2>=2

One      False
Two       True
Three     True
Four      True
Five      True
dtype: bool

In [35]:
# converting numpy array into pandas series
import numpy as np
import pandas as pd
data=np.array(['J','O','S','H','A','N'])
ser=pd.Series(data)
print(ser)

0    J
1    O
2    S
3    H
4    A
5    N
dtype: object

In [36]:
# creating a series with an explixit dtype
import pandas as pd
s1=pd.Series([1,2,3,4,5],dtype='int8')
s2=pd.Series(['A','B','C'],dtype='string')
print(s1)
print(s2)

0    1
1    2
2    3
3    4
4    5
dtype: int8
0    A
1    B
2    C
dtype: string