<a href="https://colab.research.google.com/github/Joshan2005/Petroleum-Data-Analytics/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# bitwise and, not, or, xor, left shift, right shift operator
a = 0b1010
b = 0b1100
c = a & b
print(int(a))
print(int(b))
print(bin(c))
c = ~a
print(bin(c))
c = a|b
print(bin(c))
c = a^b
print(int(c))
print(bin(c))
c = a<<2
print(bin(c))
c = a>>2
print(bin(c))

10
12
0b1000
-0b1011
0b1110
6
0b110
0b101000
0b10

In [9]:
# identity operators
a = 10
b = 20
c = a
print(a is not b)
print(a is c)

True
True

In [11]:
# membership operators
x = 24
y = 20
list = [10,20,30,40,50]
if (x in list):
  print('x is in the list')
else:
  print('x is not in the list')
if (y in list):
  print('y in the list')
else:
  print('y not in the list')

x is not in the list
y in the list

In [12]:
# numeric data type
a=2
print(type(a))
b=20.25
print(type(b))
c=3+4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [26]:
# string data type
s='This is a Petroluem Data Analytics course'
print(s[10])
print(s[20])
print(s[30])
print(s[-2])
print(s[0:-6])
print(s[1:4])
print(s[:30])
print(s[20:])

P
D
t
s
This is a Petroluem Data Analytics
his
This is a Petroluem Data Analy
Data Analytics course

In [17]:
# multiline string
s = '''This is a multi
line string'''
print(s)

This is a multi
line string